[DEFAULT]
ODIRBASE=%(BASEDIR)s/output
ODIR=%(ODIRBASE)s/%(__name__)s/%(TIMESTAMP)s
BIN=%(BASEDIR)s/bin
LOGFILE=%(ODIRBASE)s/LOG
PYTHON=python
CURLTIMEOUT=-m 300
CURL=curl %(CURLTIMEOUT)s
TAR=tar
RM=rm
MV=mv
ZCAT=zcat
SED=sed

[emapa]
cmd:
    %(PYTHON)s %(BIN)s/libdump/dumpEMAPAobo.py > %(ODIR)s/EMAPA.obo

[medic]
cmd:
    %(CURL)s https://gillnet.mdibl.org/~twiegers/mgi/mgiMEDIC.obo.gz | %(ZCAT)s > %(ODIR)s/MEDIC.obo
    %(PYTHON)s %(BIN)s/libdump/MedicConflater.py %(ODIR)s/MEDIC.obo %(ODIR)s/MEDIC_conflated.obo

[go]
cmd:
    %(CURL)s -o %(ODIR)s/GeneOntology.obo http://www.geneontology.org/ontology/obo_format_1_0/gene_ontology.1_0.obo

[mp]
cmd:
    %(CURL)s -o %(ODIR)s/MammalianPhenotype.obo ftp://ftp.informatics.jax.org/pub/reports/MPheno_OBO.ontology


[uberon]
cmd:
    %(CURL)s -o %(ODIR)s/uberon.obo http://obo.svn.sourceforge.net/svnroot/obo/uberon/trunk/uberon.obo

[emap]
cmd:
    %(CURL)s -o %(ODIR)s/EMAP.obo ftp://ftp.hgu.mrc.ac.uk/pub/MouseAtlas/Anatomy/EMAP_combined.obo

[ma]
cmd:
    %(CURL)s -o %(ODIR)s/MA.obo http://www.berkeleybop.org/ontologies/ma.obo

[emapx]
cmd:
    %(PYTHON)s %(BIN)s/libdump/GXDAnatomyDumper.py %(ODIRBASE)s/ma/latest/MA.obo %(ODIRBASE)s/emap/latest/EMAP.obo %(ODIR)s/EMAPX.obo

[mgi-base]
cmd: 
    %(PYTHON)s %(BIN)s/dumpMgiItemXml.py -d %(ODIR)s -Demapxfile=%(ODIRBASE)s/emapx/latest/EMAPX.obo -Dmedicfile=%(ODIRBASE)s/medic/latest/MEDIC_conflated.obo --logfile %(LOGFILE)s


[yeastmine]
cmd:
    %(PYTHON)s %(BIN)s/libdump/fmfd.py -d %(ODIR)s -o yeast -l %(LOGFILE)s

[zebrafishmine]
cmd:
    %(PYTHON)s %(BIN)s/libdump/fmfd.py -d %(ODIR)s -o zebrafish

[ratmine]
cmd:
    %(PYTHON)s %(BIN)s/libdump/fmfd.py -d %(ODIR)s -o rat

[flymine]
cmd:
    %(PYTHON)s %(BIN)s/libdump/fmfd.py -d %(ODIR)s -o fly

[wormmine]
cmd:
    %(PYTHON)s %(BIN)s/libdump/fmfd.py -d %(ODIR)s -o worm

[entrez]
cmd:
    %(CURL)s ftp://ftp.ncbi.nih.gov/gene/DATA/gene_info.gz | %(ZCAT)s > %(ODIR)s/entrez

[homologene]
cmd:
    %(CURL)s -o %(ODIR)s/homologene.data ftp://ftp.ncbi.nih.gov/pub/HomoloGene/current/homologene.data

[panther]
cmd:
    %(CURL)s -o %(ODIR)s/RefGenomeOrthologs.tar.gz ftp://ftp.pantherdb.org/ortholog/8.1/RefGenomeOrthologs.tar.gz 
    %(TAR)s -xzvf %(ODIR)s/RefGenomeOrthologs.tar.gz -C %(ODIR)s
    # Panther release 8.1 has a typo in the file name
    if [ -e %(ODIR)s/RefGeneomeOrthologs ]
    then
	%(MV)s %(ODIR)s/RefGeneomeOrthologs %(ODIR)s/RefGenomeOrthologs.txt
    else
	%(MV)s %(ODIR)s/RefGenomeOrthologs %(ODIR)s/RefGenomeOrthologs.txt
    fi
    %(RM)s %(ODIR)s/RefGenomeOrthologs.tar.gz

